@font-face {
    font-family: 'Vazir';
    src: url(./Vazir-Medium.ttf);
}
*{
    font-family: 'fira code' , 'Vazir';
    margin: 0;
    padding: 0;
    text-align: center;
    color: #bfbfbf;
    transition: all 0.4s ease-in-out;
}
body {
    background-color: rgb(34, 34, 34);
}
#info{
    margin-top: 10px;
    margin-right: 23%;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 55%;
    height: auto;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
}
#image{
    margin-right: 23%;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 55%;
    height: auto;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
}
.btn{
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
    width: 70%;
    height: 50px;
    background-color: rgb(27, 27, 27);
    border: 0px solid rgb(15, 15, 15);
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(15, 15, 15);
    border-radius: 18px;
}
.ic{
    cursor: pointer;
    margin-top: 6px;
    width: 50%;
    height: 45px;
    background-color: #1f1f1f;
    border: 0px solid rgb(23, 23, 23);
    border-radius: 5px;
}
.ic:focus{
    cursor: default;
    border-radius: 0px;
    height: 55px;
}
#input{
    text-align: center;
    margin-top: 6px;
    font-size: 18px;
    border: 1px solid #161616;
    border-radius: 1px;
    width: 50%;
    height: 40px;
    background-color: rgb(34, 34, 34);
    color: rgb(198, 198, 198);
    border-radius: 5px;
}
#input:focus{
    background-color: rgb(40, 40, 40);
    width: 60%;
}
#QRCode{
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #161616;
    width: 50%;
    height: auto;
}
label{
    font-size: 21px;
}
label:hover{
    color: #9e9e9e;
}
h2{
    cursor: default;
}
h2:hover{
    color: #9e9e9e;
}
pre{
    font-size: 23px;
    text-align: center;
}
p{
    font-size: 23px;
    text-align: center;       
}
footer{
    cursor: default;
    width: 100%;
    border-radius: 2px;
    height: auto;
    background-color: rgb(39, 39, 39);
    margin-top: 15px;
}