<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./icon.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>QRCode Creator</title>


</head>



<body>

    <form action="submit" method="post" id="info"><br>

        <label>لینکی یا متنی که میخواهید<br> به QRCode اختصاصش دهید را وارد کنید:</label> <br>
        <input type="text" placeholder="لینک یا متن را وارد کنید" autocomplete="on" name="data" id="input" dir="ltr" lang="en">
        <br><br>


        <label>رنگ اصلی QRCode:</label> <br>
        <input type="color" name="fg" value="#969696" class="ic">

        <br><br>

        <label>رنگ پس زمینه QRCode:</label> <br>
        <input type="color" name="bg" value="#969696" class="ic">

        <input type="submit" value="ساخت QRCode" class="btn" name="type" style="margin-bottom: 22px; margin-top: 20px;">
        <br>

    </form>

    <br>

    <div id="image">
        <br>
        <h2>نتیجه:</h2>
        <img src="{{ data.file }}" id="QRCode" alt="QRCode image">

        <div id="down-del">

            <button class="btn">
                <a href="./{{ data.file }}" download>نصب QRCode</a>
            </button>

            <form action="delete" method="post">

                <input type="submit" value="حذف QRCode" class="btn"> <br><br>

            </form>

        </div>

    </div>


    <footer>
        <h4>
            کلیه حقوق مادی و معنوی برای QRCode Creator محفوظ است ©
        </h4>
    </footer>


</body>

</html>
